body {
  background: linear-gradient(135deg, #5d71b4, #a777e3);
  font-family: 'Arial', sans-serif;
}

.card {
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
  background: #82a060;
}

.btn-primary {
  background-color: #7afb6e;
  border: none;
}

.btn-primary:hover {
  background-color: #4d6299;
}

.form-label {
  color: #555;
}

::placeholder {
  color: #888;
  opacity: 1; /* Firefox */
}


